@page "/autocorrect"
@using AutoCorrect;

<h1>Autocorrect</h1>
<h3>Choose an Algorithm</h3>
<p>Please note: Since this is a free azure site, and I didn't optimize the word-list storage, there's some pre-load on each set of algorithms before they run quickly</p>
<select @bind="@selectedCorrector">
    @foreach (var option in Correctors.Options)
    {
        <option value="@option.DisplayName"> @option.DisplayName </option>
    }
</select>

<h3>Type a Word</h3>
<input placeholder="Type a word" @bind="checkWord" />
<button @onclick="CheckInput">Check</button>

@switch (result)
{
    case SuggestedCorrections corrections:
        <h3>Did you mean?</h3>
        <ul>
            @foreach (var word in corrections.Options)
            {
                <li>@word</li>
            }
        </ul>
        break;
    case ExactMatch:
        <h3>Nice, that's a real word!</h3>
        break;
    case NoMatch:
        <h3>Sorry, I couldn't find a similar enough word</h3>
        break;
    case Error e:
        <h3>Oh no... something went wrong :|</h3>
        <p>@e.Reason</p>
        break;
}


@code {
    private CorrectionResult? result = null;
    private string checkWord;
    private string selectedCorrector = Correctors.Options.First().DisplayName;

    private void CheckInput()
    {
        result = Correctors.Map[selectedCorrector].Suggest(checkWord);
    }
}
